html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: white;
  margin-top: inherit;
  margin-right: auto;
  margin-bottom: inherit;
  margin-left: auto;
}

.menu {
  background-color: #ffe500;
  display: block;
  padding: 0 .75em;
}

body {
  line-height: 1.5;
  margin: .3em;
  margin-left: .3em;
  margin-right: .3em;
  margin-top: auto;
  margin-bottom: auto;
}

h1 {
  font-family: "Sigmar One", cursive;
  text-align: center;
  color: #b20953;
  background-color: #ffe500;
  font-size: 3rem;
  display: block;
  margin-top: .3em;
  margin-bottom: .3em;
}

nav ul li {
  background-color: #ffe500;
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  font-size: 1.875rem;
  text-align: center;
  margin-top: .3em;
  margin-bottom: .3em;
}

nav .home {
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: #b2a212;
  border: 1px solid #b2a212;
  border-radius: 4px;
  display: block;
  padding: .3rem;
}

nav .blueberries {
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: #b2a212;
  border: 1px solid #b2a212;
  border-radius: 4px;
  display: block;
  padding: .3rem;
}

nav .grapes {
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: #b2a212;
  border: 1px solid #b2a212;
  border-radius: 4px;
  display: block;
  padding: .3rem;
}

nav .currants {
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: #b2a212;
  border: 1px solid #b2a212;
  border-radius: 4px;
  display: block;
  padding: .3rem;
}

figure {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: .3em;
  margin-bottom: .3em;
}

img {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: .3em;
  margin-bottom: .3em;
}

a {
  font-family: Georgia;
  list-style-type: none;
  text-decoration: none;
  background-color: #2f2d13;
  border: 1px solid #2f2d13;
  font-size: 1.125rem;
  border-radius: 4px;
  display: inline;
  padding: .3rem .75em;
}

a:hover {
  background-color: #cc1465;
  border: 1px solid #cc1465;
  border-radius: 4px;
  display: inline;
  padding: .3rem .75em;
}

h2 {
  font-family: "Sigmar One", cursive;
  font-size: 1.875rem;
  text-align: left;
  color: #b20953;
  margin-top: .75em;
  margin-bottom: .75em;
}

p {
  font-family: Georgia;
  font-size: 1.125rem;
  margin-top: .75em;
  margin-bottom: .75em;
}

footer {
  background-color: #ffe500;
  text-align: center;
  font-size: .75rem;
  display: block;
  padding: .5em;
}
