html {
  box-sizing: border-box;
  background-color: #fff;
  font-family: Georgia;
  line-height: 1.5;
  color: #2f2d13;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.menu {
  background-color: #ffe500;
}

body {
  margin: 0;
}

h1 {
  font-family: "Sigmar One", cursive;
  background-color: #ffe500;
  font-size: 3rem;
  color: #b20953;
  text-align: center;
  display: block;
}

nav ul {
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  display: inline;
}

li {
  background-color: #b20953;
  border: 1px solid #b20953;
  border-radius: 4px;
  color: #fff;
  padding: .3em .2em;
}

a {
  background-color: #b2a212;
  border: 1px solid #b2a212;
  font-size: 1.125rem;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  display: inline;
}

a:hover {
  background-color: #cc1465;
  border: 1px solid #cc1465;
  border-radius: 4px;
}

img {
  display: block;
  padding: .5em;
  width: 100%;
}

h2 {
  font-family: "Sigmar One", cursive;
  font-size: 1.875rem;
  text-align: left;
  color: #b20953;
}

p {
  font-size: 1.125rem;
}

footer {
  background-color: #ffe500;
  text-align: center;
  font-size: .75rem;
  display: block;
}
